* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.form-responsive {
    max-width: 700px;
    width: 100%;
    background: #ffff;
    padding: 25px 30px;
    border-radius: 5px;
}

.form-responsive .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form-responsive .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #0093E9);
}

.form-responsive form .user-details {
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {    
    border-color: #0093E9;
}

form .gender-detail .gender-title{
    font-weight: 600;
    font-size: 20px;
}

form .gender-detail .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-detail .category label {
    display: flex;
    align-items: center;
}

.gender-detail .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.5s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background: #0093E9;
}

form input[type="radio"] {
    display: none;
}

.button {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 45px;
    margin: 45px 0 ;
}

.button input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 12px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
}

.button input:hover {
    background-color: #0093E9;
    background-image: linear-gradient(-160deg, #0093E9 0%, #80D0C7 100%);
}

@media (max-width: 584px) {
    .form-responsive {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    
    form .gender-detail .category {        
        width: 100%;
    }

    .form-responsive form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    
    .user-details::-webkit-scrollbar {
        width: 0;
    }
}